<ul ng-if="$ctrl.showPager()" class="paging">
        <li class="paging_prev" ng-class="{'is-disabled': $ctrl.isCurrentPage(1)}">
            <button class="fauxLink" ng-click="$ctrl.goRelativePages(-1)">Previous</button>
        </li>
        <li class="paging_first paging_number" ng-class="{'is-active': $ctrl.isCurrentPage(1)}">
            <button ng-click="$ctrl.gotoPage(1)">1</button>
        </li>
        <li class="paging_ellipsis" ng-if="$ctrl.showLeftEllipsis()">
            <button ng-click="$ctrl.goRelativeBlocks(-1)">...</button>
        </li>
        <li class="paging_number" ng-repeat="page in $ctrl.navigablePages"
                ng-class="{'is-active': $ctrl.isCurrentPage(page)}">
            <button ng-click="$ctrl.gotoPage(page)">{{page}}</button>
        </li>
        <li class="paging_ellipsis" ng-if="$ctrl.showRightEllipsis()">
            <button ng-click="$ctrl.goRelativeBlocks(1)">...</button>
        </li>
        <li class="paging_last paging_number" ng-class="{'is-active': $ctrl.isCurrentPage($ctrl.numPages)}">
            <button ng-click="$ctrl.gotoPage($ctrl.numPages)">{{$ctrl.numPages}}</button>
        </li>
        <li class="paging_next" ng-class="{'is-disabled': $ctrl.isCurrentPage($ctrl.numPages)}">
            <button class="fauxLink" ng-click="$ctrl.goRelativePages(1)">Next </button>
        </li>
    </ul>