/****************************/
/* BOOTSTRAP-RELATED STYLES */
/****************************/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    padding-top:100px;
}

/***********************************/
/* override styles from styles.css */

#wrapper {
    border-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}



#wrapper .bootstrap-styles .container,
#wrapper .bootstrap-styles .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.csi-menu, .container-fluid {
    overflow:visible;
    min-width:1276px;
}

.bootstrap-styles .instanceIndicator {
    background: #333;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.5);
    color: #FFF;
    font-size: 13px;
    right: 330px;
    margin: 0 0 0 -100px;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.bootstrap-styles .instanceIndicatorContainer {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 330px;
}

.bootstrap-styles .instanceIndicatorNested {
    background: #333;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.5);
    color: #FFF;
    font-size: 13px;
    margin: 0 0 0 -100px;
    padding: 10px;
}

.bootstrap-styles .instanceIndicatorNested.cManager {
    width:auto;
    float:right;
    margin:0 0 0 6px;
}

.bootstrap-styles .instanceIndicatorNested.cInstance {
    width:auto;
    float:right;
}

.cMClose {
    fill:#ffffff!important;
}


/* override due to global li style */
.bootstrap-styles .nav > li > a {
    font-size: 14px;
}
.bootstrap-styles label {
    font-weight: inherit; font-size: inherit; font-family: inherit; font-weight:bold; margin:0;
}
.bootstrap-styles form {
    font-family: inherit;font-size: inherit;
}


/**********/
/* header */
.csi-header .navbar {
    border-radius: 0;
    border: none;
    margin: 0;
    border-bottom: solid 1px #e0e0e0;
}

.csi-header .navbar-brand {
    padding: 15px 0 15px 15px;
}
.csi-header .navbar-brand img {
    margin: -5px 10px 0 10px;
}

.csi-header .navbar-form {
    border-top: 0;
}

.csi-header .navbar-text {
    margin-bottom: 0;
}

.csi-header #logout {
    display: inline;
}
@media (min-width: 768px) {
    .csi-header #logout {
        display: none;
    }
}



@media (min-width: 950px) {
    .csi-header #logout {
        display: inline;
    }
}

/************/
/* main nav */
.csi-menu .navbar {
    border-radius: 0;
    border: none;
    min-height: 34px;
}
.csi-menu .navbar-header {
    background: #04438a;
    background: -webkit-linear-gradient(#215da1, #04438a); /* Safari */
    background: -moz-linear-gradient(#215da1, #04438a); /* Firefox */
    background: linear-gradient(#215da1, #04438a);
}
.csi-menu .navbar-header .navbar-toggle {
    background: #fff;
    margin-top:2px;
    height:30px;
    padding:5px;
}

.bootstrap-styles .navbar-default .navbar-toggle, .bootstrap-styles .navbar-default .navbar-toggle:hover, .bootstrap-styles .navbar-default .navbar-toggle:focus {
    height:30px!important;
    padding:5px!important;
}
.csi-menu #csi-menu {
    background: #f4f4f4;
}
.csi-menu .collapse.navbar-collapse {
    max-height: none;
    border-bottom: solid 1px #ccc;
}
.csi-menu .nav .dropdown-toggle,
.csi-menu .dropdown.open .dropdown-toggle {
    background: none !important;
    border: none;
    color: #333 !important;
    font-size: 13px;
    padding: 4px 14px;
}
.csi-menu .dropdown-menu {
    background: #fff !important;
    border-radius: 0;
    border-top: solid 1px #e0e0e0 !important;
    border-bottom: solid 1px #e0e0e0 !important;
    margin: 5px 0 !important;
    padding: 5px 0;
}
.csi-menu .dropdown-menu li a {
    font-size: 13px;
    color: #333 !important;
    padding: 3px 12px 3px 25px !important;
}

/*Sub Navigation Menus*/

div#fixedNav {
    width: 200px;
    margin-top:6px;
    font-size: 12px;
    float:left;
    background-color:#fff;
    padding:4px;
    top:164px;
    left:6px;
}

div#fixedNavBackground {
    height:100%;
    background-color:#fff;
    position:fixed;
    float:left;
    width:221px;
    margin: -20px 0 0 -10px;
}

div#wrapper.wrapperWithSideBar {
    margin-left:194px;
    -webkit-transition: margin-left 0.1s; /* Safari */
    transition: margin-left 0.1s;
}

ul.nav-tabs.horizontalTabs, ul.nav-tabs.horizontalTabs a {
    border:0!important;
    height:35px!important;
    font-weight:bold;
}


ul.nav-tabs.horizontalTabs li {
    background:#eee;
    margin-right:1px;
    border-radius: 4px 4px 0px 0px;
    border:1px solid #999;
}

ul.nav-tabs.horizontalTabs li.active {
    background:#fff;
    border-bottom:solid 1px #fff;
    margin-right:1px;
}

div#fixedNav a, div#fixedNav div {
    font-weight:bold;
    display:block;
    padding:4px;
    text-decoration:none;
    font-size:10px;
}
div#fixedNav:first-child a:hover {
    cursor:pointer;
}


div#fixedNav:first-child {
    line-height:30px;
}

div#fixedNav a:hover {
    background:#05448B;
    color:#fff;
}

div#fixedNav .navItem {
    cursor: pointer;
}

div#fixedNav .navItem.hasChildren.current.level1 {
    background:#EEEEEE;
    color:#000000;
    font-weight:bold;
    padding:4px 4px 0 12px;
}

div#fixedNav {
    position: fixed;
    width:200px;
    padding:0;
    margin-top:0;
}

div#fixedNav a, div#fixedNav div {
    background:#eee;
    font-size:12px
}

div#fixedNav a.level1, div#fixedNav div.level1 {
    background:#35302C;
    color:#fff;
    padding-left:12px;
}

div#fixedNav a.level2, div#fixedNav div.level2 {
    background:#C4C4C4;
    color:#000;
    padding-left:24px;
}

div#fixedNav .navItem:hover,
div#fixedNav .navItem.current{
    background:#fff;
    color:#000;
}

div#fixedNav .navItem.current {
    cursor: default;
}


@media (max-width: 767px) {
    .csi-menu, .container-fluid {
        min-width:0!important;
    }
}

@media (min-width: 768px) {

    .csi-menu .navbar-header {
        margin-top: -8px;
    }



    .csi-menu .navbar {
        background: #04438a;
        background: -webkit-linear-gradient(#215da1, #04438a); /* Safari */
        background: -moz-linear-gradient(#215da1, #04438a); /* Firefox */
        background: linear-gradient(#215da1, #04438a);
        border-top: solid 1px #01356f;
        border-bottom: none;
    }
    .csi-menu #csi-menu {
        background: none;
        border: none;
    }
    .csi-menu .nav .dropdown-toggle,
    .csi-menu .nav .dropdown.open .dropdown-toggle {
        background: none !important;
        border: none;
        color: #fff !important;
        font-size: 13px;
        padding: 10px !important;
    }
    .csi-menu .nav .dropdown.active .dropdown-toggle,
    .csi-menu .nav .dropdown.active:hover .dropdown-toggle,
    .csi-menu .nav .dropdown:hover .dropdown-toggle {
        background: #fff !important;
        border-right: solid 2px #04438a;
        color: #333 !important;
        padding-right: 8px !important;
    }
    .csi-menu .dropdown-menu {
        background: #fff !important;
        border: solid 2px #04438a !important;
        border-top: none !important;
        margin: 0 -2px !important;
    }
    .csi-menu .dropdown.open .dropdown-menu {
        display: none;
    }
    .csi-menu .dropdown:hover .dropdown-menu {
        display: block;
    }
    .csi-menu .dropdown-menu li a {
        font-size: 13px;
        color: #333 !important;
        padding: 3px 12px !important;
    }
    .csi-menu .dropdown-menu li a:hover {
        background: #e8e8e8;
    }


}

/**************/
/* login page */
.bootstrap-styles .login {
    width: 50%;
    min-width: 400px;
    margin-top: 50px;
}

.bootstrap-styles .breadcrumb {
    margin-top: 10px;
}

/**************/
/* form buttons */

.bootstrap-styles .btn-default.gray {
    background-color:#ddd;
    /*text-transform: uppercase;*/
}

.bootstrap-styles .btn-default.gray:hover {
    background-color:#eee;
}

/*usage report*/
.table-nospacing {
    border-spacing:0;
    border-collapse: collapse;
}

.column-centered {
    text-align: center;
}
.column-right-aligned{
    text-align:right;
}

.full-width{
    width:100%;
}

.half-width{
    width:50%;
}

div.couponSiteDiscount {
    float:left;
    width:100%;
}

.bootstrap-styles input[type="checkbox"] {
    margin:3px 4px!important;
}

.bootstrap-styles .panel-primary > .panel-heading {
    background:#05448b none repeat scroll 0 0!important;
    border:none;
    font-weight:bold;
}

.bootstrap-styles legend {
    margin:0!important;
    width:auto!important;
    border:0!important;
}

#AddRowLink {
    margin-right:12px!important;
    float:left!important;
}

#AddRowLink.btn.btn-default.gray a{
    color:#333333!important;
}

#RemoveRowLink {
    float:left;
}

.textTip, .textTipBottomLeft{
    display: inline;
    position: relative;
    cursor:pointer;
    font-weight:normal;
}

.textTip:hover:after{
    background: #000000;
    border-color:#000000;
    border-radius: 5px;
    bottom: 25px;
    color: #fff;
    content: attr(title);
    left: -20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.textTip:hover:before{
    border: solid;
    border-color: #000000 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 0%;
    position: absolute;
    z-index: 99;
}

.textTipBottomLeft:hover:after{
    background: #000000;
    border-color:#000000;
    border-radius: 5px;
    top: 30px;
    color: #fff;
    content: attr(title);
    right: -20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.textTipBottomLeft:hover:before{
    transform: rotate(180deg);
    border: solid;
    border-color: #000000 transparent;
    border-width: 6px 6px 0 6px;
    top: 25px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 99;
}

table.siteDiscountTable tr th, table.nInOneTable tr th {
    color:#333333;
    background:#ffffff;
}

table.siteDiscountTable tr td, table.siteDiscountTable tr th, table.nInOneTable tr th, table.nInOneTable tr td{
    border:solid #ffffff;
}

.bootstrap-styles table.nInOneTable tr td label {
    font-weight:normal!important;
}

div.formGroup {
    width:100%;
    background:#f0f0f0;
    float:left;
    padding:4px 0;
    text-align:left;
    margin-bottom:12px;
}

.bootstrap-styles th.right {
    text-align: right;
}

/* Modal Window copied from shared styles */

.modalWindow {
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.13);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 95vh;
    width: 944px;
    transform: translate(-50%, -50%);
    z-index: 5000; /* same as message box and overlay */
    padding:15px;
}

.modalWindow:last-child {
    z-index: 5003;
}

.modalWindow_header {
    border-bottom: solid 2px #e0e0e0;
    box-sizing: border-box;
    font-size: 1.65rem;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    padding: 18px;
    text-transform: none;
}

.modalWindow_body {
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    padding: 18px;
}

.modalWindow_footer {
    border-top: solid 2px #e0e0e0;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
}

/* ----------------------------- */
/* shadows for scrolling content */

.modalWindow_body {
    background:
        /* Shadow covers */
            linear-gradient(white, white),
            linear-gradient(white, white) 0 100%,

                /* Shadows */
            linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)),
            linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0)) 0 100%;
    background-attachment: local, local, scroll, scroll;
    background-repeat: no-repeat;
    background-color: white;
}

/* if theres a header and a footer, add top and bottom shadows */
.modalWindow_header + .modalWindow_body:not(:last-child) {
    background-size: 100% 12px, 100% 12px, 100% 12px, 100% 12px;
}
/* if theres no header, add bottom shadow */
.modalWindow_body:first-child:not(:last-child) {
    background-size: 100% 12px, 100% 12px, 100% 0px, 100% 12px;
}
/* if theres no footer, add top shadow */
.modalWindow_header + .modalWindow_body:last-child {
    background-size: 100% 12px, 100% 12px, 100% 12px, 100% 0px;
}

.modalWindow .closeBtn {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    right: -36px;
    cursor: pointer;
}



.bootstrap-styles #activeQuotesBlind fieldset {
    border:solid 1px #ddd;
    padding: 10px;
    margin-right:20px;
}

.bootstrap-styles #activeQuotesBlind legend {
    margin:0;
    border:0;
    padding:0 2px;
    width:auto;
    font-weight: bold;
    font-size:13px;
    color: #b5b5b5;
}

.bootstrap-styles #activeQuotesBlind.blindContainer{
    border:solid 1px #bbbbbb;
    width:100%;
    float:left;
}

.bootstrap-styles #activeQuotesBlind fieldset label {
    margin:0;
}

.bootstrap-styles .uniformTxtInput input[type="text"], .bootstrap-styles .uniformTxtInput input[type="email"] {
    width:200px;
    height:26px;
}

.bootstrap-styles .panel-primary > .panel-subheading {
    background:#444444 none repeat scroll 0 0;
    font-size: 13px;
    font-weight:bold;
    color:#ffffff;
    padding:5px 14px;
}

.bootstrap-styles input, .bootstrap-styles button, .bootstrap-styles select, .bootstrap-styles textarea {
    font-weight:normal!important;
    line-height:19px!important;
    font-size:13px!important;
}

.bootstrap-styles .panel-primary > .panel-heading, th.headerCell {
    background:#05448b none repeat scroll 0 0;
    font-weight:bold;
}

.bootstrap-styles .panel-default > .panel-heading {
    background:#ffffff none repeat scroll 0 0;
    font-size: 13px;
    font-weight:bold;
}

.bootstrap-styles .panel-primary {
    border:1px solid #bbbbbb!important;
}

/*breaking login page, making it small*/
.bootstrap-styles .panel {
    /*float:left;*/
    font-size:13px;
    line-height:1.42857143
}

/*breaking login page*/
.bootstrap-styles .panel-body {
    font-size:11px;
    line-height:20px;
}

div.panelContent {
    padding:20px;
    float:left;
    /*width:100%;*/
}


.bootstrap-styles .login .panel-body {
    font-size:14px!important;
    width:100%!important;
}

.bootstrap-styles .login .panel {
    width:100%!important;
}


.bootstrap-styles .panel {
    font-size:14px!important;
    float:left;
}

.bootstrap-styles .label {
    font-size:14px;
    font-weight:bold;
    display:block;
    padding:0;
    line-height:28px;
    color:#333333;
    text-align:left;
    /*white-space:;
    vertical-align:;
    border-radius:;*/
}

.bootstrap-styles fieldset {
    padding:10px;
}

tr.writeoff-bill {
    background-color:#FFFF00;
}

tr.delinquent-bill {
    background-color:#FF0000;
    /*background-color:#000000;*/
}


.bootstrap-styles .navbar-fixed-top, .bootstrap-styles .navbar-fixed-bottom {
    z-index:499;
}

.bootstrap-styles .list-group {
    margin-bottom:0px;
}

.bootstrap-styles .list-group.list-group-dropdown li:hover {
    background-color: #eee;
    cursor: pointer;
}

/*use until all lightwindows are updated to angular modals*/
#lightwindow_overlay {
    position:fixed;
}

.hideElement {
    display:none;
}

.moveWrapper {
    margin-left:0!important;
}

div.collapsibleSidebar {
    float:left;
    z-index:10;
    width:192px;
    /*height:100%;*/
    position:fixed;
    background:#eee;
    /*background:none;*/
    margin:40px 0 0 6px;
    text-align:right;
    height:16px;
    padding:4px;
}

/*when collapsed*/

div.collapsedSideBar{
    margin:0;
    padding:0;
    padding-top:40px;
    background:#eee;
    margin-top:4px;
    height:100%;
    z-index:0;
    width:16px;
    text-align:left;
}

div.bootstrap-styles .navbar {
    min-height:0;
    margin-bottom:0;
    border-radius:0;
}

div.bootstrap-styles .navbar.statusBar {
    box-shadow:1px 2px 3px #cccccc;
    height:40px;
    background-color: #ffffff;
}

div.subscriptionActions {
    width:550px;
    float:right;
    position:sticky;
    right:0;
}


.publish-waz-books {
    font-family: Arial, sans-serif;
    color: #333333;
    padding: 0px;
    line-height: 5px;
}

.textbox {
    font-size: 18pt;
    line-height: 50px;
    padding: 2px;
}

.waz-writing-ids {
    line-height: 22px;
}
