.navbar {
    text-align:center;
}

.navitem {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial;
    font-size: 15px;
    line-height: 1.6;
    color: #0085c9;
    cursor: pointer;
    text-decoration: none !important;
}

.buttons
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}