.navbar {
    text-align:center;
}

.navitem {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.6;
}